{# http://BASE_URI/about/ #}

{% extends "__l_main.html" %}

{% load static %}

{% block box-tabs %}
{% endblock box-tabs %}

{% block main_content %}
<div id="std_box">
  <h3 id="default">The Aragon Outlook Digital Archive</h3>

  This is the 'about' section of the archive.

  MICHAEL-TODO: Add a longer description
  
  <h3 id="rights_and_reproductions">Rights and Reproductions</h3>
  <p>Written permission of any copyright owners and/or other rights holders (such as publicity and/or privacy rights) is required for reproduction, distribution, or other use of any protected items beyond that allowed by fair use or other statutory exemptions. Responsibility for making an independent legal assessment of an item and securing any necessary permissions ultimately rests with the persons desiring to use the item.</p>

  <a href="#maincontent">Return to Top</a>

</div>{# end id:std_box #}
{% endblock main_content %}
