{# http://BASE_URI/ #}

{% extends "__l_main.html" %}

{% load static %}
{% load humanize %}
{% load image_urls %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Welcome to the {{ project_name }}</h2>
    <br>
    <p>
      The <em>Aragon Outlook Digital Archive</em> is a convenient way to search and explore historical issues of <em>The Aragon Outlook</em>.
    </p>
    <p>
      <em>The Aragon Outlook</em> is the student-run publication of
      <a href="https://en.wikipedia.org/wiki/Aragon_High_School">Aragon High School</a> in San Mateo, CA.
      The <em>Outlook</em> published its first issue in 1961, the year that Aragon was founded. From 1961 until
      the mid-2000s it was known as <em>The Aragon Arisocrat</em>. Starting in 2010, the <em>Outlook</em>
      transitioned to publishing online as well as in print. All stories from the Outlook from 2010 onward can be
      accessed at <a href="https://aragonoutlook.org">aragonoutlook.org</a> and thus are not included in
      the archive.
    </p>
    <hr>
    <h3>Acknowledgements</h3>
    <div>
      <p>
        Former <em>Outlook</em> features and technology editor, <a href="https://www.linkedin.com/in/michaelmherrera/">Michael Herrera</a>
        created the <em>Aragon Outlook Digital Archive</em> as a volunteer project for his senior capstone at Stanford University. Thanks to <a href="http://www.michaelcallan.com/">Michael Callan Landscaping</a> for generously donating access to
        their diagram scanners. This allowed us to efficiently create high-quality digital scans of the physical editions. 
        This site was created using <a href="https://open-oni.github.io/">open-oni.</a> Thanks to the ONI team for their support in this project.

      </p>
    </div>
    <hr>


    <h3>Connect with the Outlook</h3>
    <div>
      We welcome comments and article ideas as well as advertisting and subscription inquiries.
      See how to connect by visiting
      <a href="https:aragonoutlook.org/contact">aragonoutlook.org/contact</a>
      </p>
    
      <h4>Social Media</h4>
      <p>Follow us on <a href="https://www.instagram.com/aragonoutlook/?hl=en">Instagram</a></p>
      <p>Follow us on <a href="http://twitter.com/aragonoutlook">Twitter</a></p>
      <p>Post on our <a href="http://www.facebook.com/aragonoutlook">Facebook page</a></p>
    </div>
        


   </div> {# /col-md-12 #}

</div>{# /row #}
{% endblock content %}
